---
- name: "Linux userland config"
  hosts: localhost
  gather_facts: true
  vars:
      HOME: "{{ lookup('env', 'HOME') }}"
  roles:
    - role: gantsign.oh-my-zsh
      users:
        - username: "{{ ansible_user_id }}"
          become: true
          oh_my_zsh:
            theme: agnoster
            plugins:
              - git
              - zsh-syntax-highlighting
              - zsh-autosuggestions
              - zsh-dircolors-solarized
              - terraform
              - docker
              - kubectl
              - ansible
              - colorize
              - cp
              - fzf
              - gh
              - gitignore
              - helm
              - history
              - jsontools
              - sudo
              - ubuntu
              - zsh-interactive-cd
              - zsh-navigation-tools
              - vscode
              - zsh-vi-mode
              - brew
              - macos
              - z
              - packer
  tasks:
    - name: Configure Ansible
      ini_file:
        path: "{{ HOME }}/ansible.cfg"
        section: "colors"
        option: "verbose"
        value: "green"
#    - name: Install bottle python package
#      pip:
#        name: powerline-status
#        xtra_args: --user
#    - name: Install bottle python package
#      pip:
#        name: powerline-gitstatus
#        xtra_args: --user
    - name: Hushlogin
      file:
        path: "{{ HOME }}/.hushlogin"
        state: touch
        mode: '0644'
        access_time: preserve
        modification_time: preserve
    - name: GIT config
      git_config:
          name: "{{ item.name }}"
          scope: global
          value: "{{ item.value }}"
      with_items:
          - {name: "credential.helper", value: "!/usr/bin/gh auth git-credential" 
          - {name: "user.name",  value: "Robin Mordasiewicz" }
          - {name: "user.email", value: "robin@mordasiewicz.com" }
          - {name: "ui.color",   value: "True" }
          - {name: "core.editor",   value: "vim" }
          - {name: "core.excludesfile", value: "{{ HOME }}/.gitignore"}
    - name: gitignore
      file:
        path: "{{ HOME }}/.gitignore"
        state: touch
        mode: '0644'
        access_time: preserve
        modification_time: preserve
    - name: byobu preferences directory
      file:
        path: "{{ HOME }}/.byobu"
        state: directory
        mode: '0755'
    - name: disable byobu welcome message
      file:
        path: "{{ HOME }}/.byobu/.welcome-displayed"
        state: touch
        mode: '0644'
        access_time: preserve
        modification_time: preserve
    - name: Install zsh vim-mode
      ansible.builtin.git:
        repo: https://github.com/jeffreytse/zsh-vi-mode.git
        dest: "{{ HOME }}/.oh-my-zsh/plugins/zsh-vi-mode"
        force: yes
      register: vimode
      changed_when: ( vimode.remote_url_changed is not defined or vimode.remote_url_changed ) 
    - name: Install zsh autosuggestions
      ansible.builtin.git:
        repo: https://github.com/zsh-users/zsh-autosuggestions.git
        dest: "{{ HOME }}/.oh-my-zsh/plugins/zsh-autosuggestions"
        force: yes
      register: autosuggestions
      changed_when: ( autosuggestions.remote_url_changed is not defined or autosuggestions.remote_url_changed ) 
    - name: Install zsh zsh-dircolors-solarized
      ansible.builtin.git:
        repo: https://github.com/joel-porquet/zsh-dircolors-solarized
        dest: "{{ HOME }}/.oh-my-zsh/plugins/zsh-dircolors-solarized"
        force: yes
      register: zshdircolorssolarized
      changed_when: ( zshdircolorssolarized.remote_url_changed is not defined or zshdircolorssolarized.remote_url_changed )
    - name: Install zsh syntax-highlighting
      ansible.builtin.git:
        repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
        dest: "{{ HOME }}/.oh-my-zsh/plugins/zsh-syntax-highlighting"
        force: yes
      register: syntaxhighlighting
      changed_when: ( syntaxhighlighting.remote_url_changed is not defined or syntaxhighlighting.remote_url_changed )
    - name: Install zsh packer
      ansible.builtin.git:
        repo: https://github.com/breakingpitt/zsh-packer.git
        dest: "{{ HOME }}/.oh-my-zsh/plugins/packer"
        force: yes
      register: packer
      changed_when: ( packer.remote_url_changed is not defined or packer.remote_url_changed )
    - name: Ensure .vim/{autoload,bundle} directory exists
      file:
        path: "{{ item }}"
        state: directory
        recurse: no
        mode: 0750
      loop:
        - "{{ HOME }}/.vim"
        - "{{ HOME }}/.vim/autoload"
        - "{{ HOME }}/.vim/bundle"
    - name: Ensure Pathogen is in place
      get_url:
        dest: "{{ HOME }}/.vim/autoload/pathogen.vim"
        url: https://tpo.pe/pathogen.vim
    - name: Deploy plugins
      git:
        dest: "{{ HOME }}/.vim/bundle/{{ item.name }}"
        repo: "{{ item.url }}"
        clone: yes
        update: yes
        recursive: no
      loop:
      - name: vim-airline
        url: https://github.com/vim-airline/vim-airline
      - name: nerdtree
        url: https://github.com/preservim/nerdtree
      - name: fzf-vim
        url: https://github.com/junegunn/fzf.vim
      - name: vim-gitgutter
        url: https://github.com/airblade/vim-gitgutter
      - name: vim-fugitive
        url: https://github.com/tpope/vim-fugitive
      - name: vim-floaterm
        url: https://github.com/voldikss/vim-floaterm
    - name: Ensure .vimrc config in place
      copy:
        src: vimrc
        dest: "{{ HOME }}/.vimrc"
        backup: yes
        mode: 0640
    - name: Ensure .gitignore config in place
      copy:
        src: .gitignore
        dest: "{{ HOME }}/.gitignore"
        backup: yes
        mode: 0640
